<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.companyname.EcolanAppAndroid</string>
	<key>CFBundleName</key>
	<string>EcoServiceApp</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Per offrirti una migliore esperienza di servizio, questa app richiede accesso alla tua posizione anche quando non è in uso attivo. La tua posizione sarà utilizzata per fornirti servizi basati sulla localizzazione.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Per offrirti una migliore esperienza di servizio, questa app richiede accesso alla tua posizione quando è in uso attivo. La tua posizione sarà utilizzata per fornirti servizi basati sulla localizzazione.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Per fornirti una migliore esperienza di servizio, questa app richiede accesso alla tua posizione sia quando è in uso attivo che quando non lo è. La tua posizione sarà utilizzata per fornirti servizi basati sulla localizzazione.</string>
	<key>NSLocationUsageDescription </key>
	<string>Per offrirti una migliore esperienza, questa app utilizza la tua posizione per fornire servizi basati sulla localizzazione, come la ricerca di luoghi vicini.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Per offrirti annunci personalizzati e migliorare la tua esperienza, questa app utilizza l&apos;IDFA per tracciare il tuo comportamento attraverso le applicazioni. I tuoi dati saranno utilizzati in conformità con la nostra politica sulla privacy.</string>
	<key>NSCameraUsageDescription</key>
	<string>L&apos;app necessita di accedere alla fotocamera per scattare foto ai rifiuti abbandonati o da ritirare.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>L&apos;app necessita di accedere alla galleria per il salvataggio delle foto e per il caricamento di un&apos;immagine relativa al rifiuto.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>L&apos;app necessita di accedere alla galleria per il salvataggio delle foto e per il caricamento di un&apos;immagine relativa al rifiuto.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>Ripremia</string>
	<key>CFBundleVersion</key>
	<string>12.61</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The app uses bluetooth to find, connect and transfer data to machinery</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The app uses bluetooth to find, connect and transfer data to machinery</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>

	<!-- New Key Privacy 2024 -->
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryDiskSpace</string>
			<key>NSPrivacyAccessedAPIReasons</key>
			<array>
				<string>NSPrivacyAccessReasonAppFunctionality</string>
			</array>
		</dict>
	</array>
	
</dict>
</plist>
